body{
    margin: 0;
    background-image: url(images/portfolio.avif);
    background-position: center;
    background-size: cover;
}


header{
    background-color: #424d56;
    opacity: 0.5;
    position: relative;
    width: 100%;
    min-height: 110px;

    
}

.header{
    direction: rtl;
    margin: 0px;
}
.header a{
    margin: 0;
    padding: 0;
}


.images {
    width: 4.5%;
    height: auto;
    margin-left: 15px;
    mix-blend-mode: color-burn;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-contact{
    position: relative;
}

.email-contact::after{
    content: "Contact Me";
    position: absolute;
    bottom: 350%;
    right: 0%;
    color: white;
    background-color: black;
    padding: 5px 10px;
    min-width: 70px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
}

.email-contact:hover::after{
    opacity: 1;
}


.form-box{
    background-color: transparent;
    border: 2px rgba(105, 105, 105, 0.35);
    border-radius: 20px;
    background-color: rgba(105, 105, 105, 0.35);
    backdrop-filter: blur(15px);
    position: relative;
    width: 950px;
    height: auto;
    min-height: 350px;
    display: flex;
    text-align: justify;
    margin-right: 20%;
    margin-top: 2%;
}

.python{
    display: flex;
    align-items: center;
    justify-content: center;
    

}

.form-box-python{
    background-color: transparent;
    border: 2px rgba(105, 105, 105, 0.35);
    border-radius: 20px;
    background-color: rgba(105, 105, 105, 0.35);
    backdrop-filter: blur(15px);
    position: relative;
    width: 950px;
    height: auto;
    min-height: 350px;
    display: flex;
    text-align: justify;
    margin-left: 20%;
    margin-top: 2%;
    
}

.profile-img{
    border-radius: 50%;
    width: 40%;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
    margin: 15;

}

.python-img{
    border-radius: 50%;
    width: 40%;
    box-shadow: 0px 0px 20px;
    margin: 15;
    mix-blend-mode: color-burn;
}

main {
    text-align: center;
}



footer{
    position: relative;
    text-align: center;
    padding: 20px;
    background-color:#6f9196;
}

footer a {
    margin-right: 10px;
    margin-bottom: 10px;
    color: #0442c1;
    font-family: sans-serif;
    margin: 10px 20px;
    font-size: 150%;
    text-decoration: none;
}

footer p {
    margin-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color:antiquewhite;
}

.footer-b{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
}

a:hover {
    color: #EAF6F6;
  }

.github-link {
    font-style: italic;

}

.whatsapp{
    position: relative;
}

.whatsapp::after{
    content: "Whatsapp Me";
    position: absolute;
    bottom: 350%;
    right: 0%;
    color: white;
    background-color: black;
    padding: 5px 10px;
    min-width: 90px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none; 
    transition: opacity 0.3s ease;
}

.whatsapp:hover::after{
    opacity: 1;
}

.whatsapp-img {
    position: relative;
    width: 5%;
    height: auto;
    margin-left: 15px;
    mix-blend-mode: color-burn;
    padding-top: 5px;
}

#gif{
    width: 30%;
}

#texto-introducao{
    margin-top: 50px;
    padding: 15px 20px 15px 10px;
    font-size: x-large;
    font-family: 'Josefin Sans', sans-serif;
}

#up-image{
    position: relative;
    width: 30%;
    mix-blend-mode: color-burn;
}
#up-anchor{
    position: absolute;
    display: flex;
    margin: 0;
}

#email {
    position: relative;
    width: 5%;
    height: auto;
    margin-left: 15px;
    mix-blend-mode: color-burn;
    padding-top: 5px;
}
